.ant-layout {
  height: 100%;
}

.header {
  padding: 0;
}


.layout-content {
  overflow-y: auto;
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-left: 20px;
  color: #000000;
  .title-text {
    margin: 0;
  }
}

.user-info {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  color: #000;

  .user-name {
    margin-right: 20px;
  }

  .user-logout {
    display: inline-block;
    cursor: pointer;
  }
}
.ant-layout-header {
  padding: 0 !important;
}
